body {
	background-color: blue;		/*kolor całej strony*/
}

.bold {						/*klasa bold, która pogrubia tekst*/
	font-weight: bold; 
}

.italic, .crazy {
	font-style: italic;		/*pochylenie tekstu*/
}

.underline {
	text-decoration: underline; /*podkreślenie tekstu*/
}

.line-through {
	text-decoration: line-through;	/*przekreślenie napisu*/
}

.overline {
	text-decoration: overline;  	/*linia nad tekstem*/
}

.sub {
	vertical-align: sub;			/*indeks dolny*/
}

.sup {
	vertical-align: super;			/*indeks górny*/
}

.crazy {
	text-align: center;
	font-size: large;
	background-color: yellow;
	color: red;
	font-weight: bold;
}

img {
	display: block;
	margin: auto;
}

a {
	display: block;
	text-align: center;
}

.head-style {
	background-color: yellow;
}

.body-style {
	background-color: green;
}

#style1 {
	background-color: red;
}

#style2 {
	background-color: green;
}

#link {
	text-align: left;
}